.button__primary {
	background-color: var(--primary);
	border-radius: 8px;
	border: none;
	color: var(--white);
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
}
.button__secondary {
	background-color: var(--white);
	border-radius: 8px;
	border: 1px solid var(--primary);
	color: var(--primary);
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
}