@import 'vars';

.login {
	display: flex;
  	justify-content: center;
	margin: 10% auto;
}
.login__container {
	background-color: aqua;
	
}

.form {
	display: flex;
	flex-direction: column;
}

.button__login {
	margin-top: 30px;
	margin-bottom: 20px;
}
