.shoppingItem{
    background-color: white;
    .shoppingItem__info{
        span{
            font-weight: 700;
            font-size: 18px;
        }
    }

    .shoppingItem__info--detail{
        margin-bottom: 20px;
    }

    .shoppingItem__products{
        display: flex;
        img{
            width: 140px;
            height: 140px;
            border-radius: 20px;
            object-fit: cover;
            cursor: pointer;
        }
    }
}
